gui/flows.json
[
    {
        "id": "c10e43bd3f2a0370",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "016cdd7d8f2be99a",
        "type": "ui_button",
        "z": "c10e43bd3f2a0370",
        "name": "Camera On",
        "group": "1f3dc9ee3c8a0dc5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Camera On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cameraOn",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "c866c882009c4798"
            ]
        ]
    },
    {
        "id": "39fa0089a379c757",
        "type": "ui_button",
        "z": "c10e43bd3f2a0370",
        "name": "Camera Off",
        "group": "1f3dc9ee3c8a0dc5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Camera Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cameraOff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "c866c882009c4798"
            ]
        ]
    },
    {
        "id": "8992c1fe5ebeacc0",
        "type": "ui_button",
        "z": "c10e43bd3f2a0370",
        "name": "Toggle Color",
        "group": "1f3dc9ee3c8a0dc5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle Color",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "toggleColor",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "c866c882009c4798"
            ]
        ]
    },
    {
        "id": "13765708e7166649",
        "type": "ui_slider",
        "z": "c10e43bd3f2a0370",
        "name": "Change Bitrate",
        "label": "Change Bitrate",
        "tooltip": "",
        "group": "1f3dc9ee3c8a0dc5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "100",
        "max": "600",
        "step": "10",
        "className": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "dbd5b7ee239bd603"
            ]
        ]
    },
    {
        "id": "dbd5b7ee239bd603",
        "type": "function",
        "z": "c10e43bd3f2a0370",
        "name": "function 1",
        "func": "var command = \"setBitrate:\"\nmsg.payload = command.concat(msg.payload.toString());\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 300,
        "wires": [
            [
                "c866c882009c4798"
            ]
        ]
    },
    {
        "id": "c866c882009c4798",
        "type": "mqtt out",
        "z": "c10e43bd3f2a0370",
        "name": "",
        "topic": "python/mqtt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "946223a79e5a009f",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f3dc9ee3c8a0dc5",
        "type": "ui_group",
        "name": "Camera Module",
        "tab": "204f1d71b2b9e772",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "946223a79e5a009f",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "204f1d71b2b9e772",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]